
<%- include('../header'); -%>

        <div style= "position: fixed; top: 5%; bottom: 90%; right: 0%; background-color: rgb(252, 252, 252);">
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Create Account</a></li>
          <li><a href="public/contact.html">Contact Us</a></li>
        </div>
      
      </nav>
          
            <div>
              <img src="AboutUs1.jpeg" alt="Smiley face" class = "center">
              <img src="AboutUs4.jpeg" alt="Smiley face" class = "center">
            </div>
            <!--<div style= "position: fixed; top: 1000px; left:30%; right: 30%; background-color: rgb(255, 255, 255);">-->
                <!--<div style= "margin: auto; width: 45%; padding: 10px;">
              <img src="AboutUs4.jpeg" alt="Smiley face">
            </div>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>